* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h3, h1, p {
    color: #fff;
}

button{
    background-color: transparent;
    color: #fff;
    transition: ease-in 0.8s all;
}

button:hover{
    background-color: bisque;
}


.bg-home {
    position: relative;
}

.bg-home::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), #090b0e), url("img/home-img.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

.content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .menu-content {
    display: flex;
    width: 25rem;
    justify-content: space-between;
}

.content .menu-content li a {
    color: #fff;
    transition: ease-in-out 0.8s all;
}

.content .menu-content li a:hover{
    padding: 2rem 1rem; 
    background-color: #353436;
    border-bottom: 2px solid bisque;
}





.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.logo img {
    width: 3.5rem;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 2rem;
    width: 40rem;
    gap: 1rem;
    height: 100vh;
}

.text h1{
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 300;
}

.text p{
    color: bisque;
}

.text button{
    width: 10rem;
    border-radius: 5rem;
    padding: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .content nav{ 
        display: none;
    }
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 2rem;
    }
    .text h1{
        font-size: 1.4rem;
    }
    .text p{
        text-align: center;
    }
    
}

.about{
    min-height: 100vh;
    background-color: #090b0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about h1{
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1rem;
}

.image-about{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.image-about img{
    width: 30rem;
    border-radius: 3rem;
}

.about-coffe{
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-coffe h3{
    font-size: 1.4rem;
    font-weight: 200;
}

.about p{
    color: bisque;
}

@media screen and (max-width: 768px) {
    .image-about{
        display: flex;
        flex-direction: column;
    }

    .image-about img{
        width: 20rem;
    }

    .about-coffe{
        width: 20rem;
    }
    .about-coffe h3{
        text-align: center;
    }
}

.menu{
    min-height: 50vh;
    background-color: #090b0e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.menu h1{
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1rem;
    margin-top: 1.5rem;
}

.menu .contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9rem;
}

.menu-image{
    padding: 4rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.menu-image img{
    width: 100%;
    max-width: 354px;
    transition: transform 0.2s;
}

.menu-image img:hover{
    transform: scale(1.2);
}



.menu-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .70rem;
}

.menu-info button{
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.menu-info h3, .menu-info p{
    font-size: 1.4rem;
}

.produtos{
    background-color: #090b0e;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.produtos h1{
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1rem;
    margin-top: 5rem;
}

.produtos .produtos-content{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.produtos-image{
    border: 1px solid #fff;
    border-radius: 2rem;
    display: flex;
    gap: 1.4rem;
    justify-content: center;
    align-self: center;
    padding: 2.4rem;
}

.produtos-image img{
    width: 100%;
    max-width: 354px;
    transition: transform 0.2s;
}

.produtos-image img:hover{
    transform: scale(1.2);
}

.produtos-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.produtos-info button{
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.produtos-info h3, .produtos-info p {
    font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
    .produtos h1{
        font-size: 2rem;
        padding-top: 2rem;
    }
    
}

.contato{
    background-color: #090b0e;;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    padding-bottom: 2rem;
}

.contato h1{
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1rem;
    margin-top: 1.5rem;
}

.contato .contato-content h3{
    padding: .30rem;
    font-weight: 200;
}

footer{
    background-color: #090b0e;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    gap: 2rem;
    padding: 2rem
}

footer h3{
    font-weight: 400;
    letter-spacing: .80rem;
}

.btn-compras img{
    width: 2rem;
}

.btn-compras{
    position: fixed;
    bottom: 5.1rem;
    margin-left: .90rem;
    padding: .80rem;
    z-index: 99;
    border-radius: 5rem;
    background-color: white;
    transition: 200ms ease-out;
}

.btn-compras:hover{
    background-color: #353436;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: auto;
    width: 20rem;
    background-color: white;
    padding: .50rem;
}

.modal.active{
    width: 50rem;
    max-height: 40rem;
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title{
    font-size: 1.5rem;
}

.close-button{
    width: 1.5rem;
    color: #090b0e;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.modal-body{
    width: 100%;
    max-height: 50%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 1rem;
}

.back{
    background-color: #fff;
    padding: 0.9rem 1.5rem;
    border-radius: 5rem;
}

.modal.active .modal-body{
    display: flex;
    flex-direction: column;
}

.modal.active .modal-body .itens{
    display: flex;
    justify-content: space-between;
}   

.modal.active .modal-body .pedido-itens p{
    color: #090b0e;
}
.modal.active .modal-body .pedido-itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.modal.active .modal-body .quantidade button, .modal.active .modal-body .quantidade p{
    width: 2rem;
    color: #090b0e;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.modal.active .modal-body .quantidade{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.active .total{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal.active .total button{
    color: rgb(255, 235, 235);
    border-radius: 10px;
    cursor: pointer;
    padding: .50rem;
    background-color: #353436;
}


@media (max-width:768px) {
    .modal.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20rem;
    }
    
    .modal.active .modal-body .itens{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
        padding-bottom: 1.2rem;
    }
}
